.CustomerBar{
    display: flex;
    background-color: blue;
    height: 30px;
}
.button_margin{
    margin-left: 20%;
    display: flex;
}
.button_left{
    margin-left: 5px;
}
.Logo_margin{
    margin-left: 10px;
}
.searchbar_margin{
    margin-left: 20%;
}