.box{
    border: solid black 1px;
    margin-top: 5px;
}
.imageMargin{
    margin-left: 5px;
    margin-top: 5px;
}
.textMargin{
    margin-left: 20px;
    margin-top: 10px;
}
.flex{
    display: flex;
}
.buttonstyle{
    margin-bottom: 1px;
    margin-left: 2px;
    width: 99%;
}