.ManagerBar{
    display: flex;
    background-image: linear-gradient(to left, rgb(228, 129, 0) ,rgb(255, 182, 46),rgb(252, 194, 87), rgb(255, 227, 190));
    height: 55px;
}
.button_margin{
    margin-left: auto;
    margin-top: 2px;
}
.button_left{
    margin-top: 2px;
    font-size: medium;
    margin-right: auto;
    width: 150px;
    height: 45px;
    margin-left: 100px;
}
.Logo_margin{
    margin-top: 5px;
    padding-left: 20px;
}
.Log_out_margin{
    font-size: medium;
    font-weight: bold;
    margin-left: 290px;
    margin-right: auto;
    height: 35px;
}
.select_margin{
    margin-left: 10%;
    margin-top: 5px;
}
.select_size{
    width: 150px;
    height: 30px;
}